@import "~bootstrap/scss/bootstrap";

.chat-room {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;

    h2 {
      margin: 0;
    }

    .btn {
      margin-right: 10px;
    }
  }

  .messages-container {
    .message {
      display: flex;
      align-items: flex-start;
      padding: 5px;

      .avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 5px; // Không tròn
        align-items: center;
      }

      .message-content {
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        margin: 0px;
      }      

      .message-timestamp {
        font-size: 0.8em;
        color: #6c757d;
      }
    }
  }

  .message-form {
    display: flex;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;

    .form-control {
      flex: 1;
      margin-right: 10px;
    }

    .btn {
      flex-shrink: 0;
    }
  }
}
